.central-div{
  width: 450px;
  height: 600px;
  background-color: #FFA006;
}
.flex-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-child:nth-child(1) {
  height: 50%; /* 60% da altura total */
}

.flex-child:nth-child(2) {
  height: 50%; /* 40% da altura total */
  background-color: #A55518;
  color: #fff;
}